In [1]:
import pandas as pd

In [3]:
a = pd.read_csv('./data/date_final.csv')
b = pd.read_csv('./data/weater_2010_2015.csv')

In [7]:
a

              날짜 현재일기  현재기온  이슬점온도  체감온도  강수량  습도   풍향    풍속    해면기압
0     2019-12-31    -   2.5  -18.2  -1.9    0  20  서북서  18.7  1031.1
1     2019-12-30    -  13.3    7.5  12.5  1.0  68   북서  10.4  1019.7
2     2019-12-29    -   5.9   -4.0   5.9    0  49  서북서   3.2  1026.4
3     2019-12-28    -   9.1  -10.4   8.3    0  24    남   6.5  1028.1
4     2019-12-27    -   8.1  -12.3   5.4    0  22   북서  16.2  1022.1
...          ...  ...   ...    ...   ...  ...  ..  ...   ...     ...
1821  2015-01-05    -  10.4   -3.3  10.4  0.0  38  서북서   2.9  1017.9
1822  2015-01-04    -  10.7   -5.3   9.1  0.0  32  서북서  12.6  1016.6
1823  2015-01-03    -   3.5  -24.3  -0.0  0.0  11   북서  14.4  1022.2
1824  2015-01-02    -   2.1  -15.4  -2.3  0.0  26   북서  17.6  1021.4
1825  2015-01-01    -  -1.4  -25.5  -7.2  0.0  14   북서  21.6  1021.0

[1826 rows x 10 columns]

In [8]:
a.columns

Index(['날짜', '현재일기', '현재기온', '이슬점온도', '체감온도', '강수량', '습도', '풍향', '풍속', '해면기압'], dtype='object')

In [5]:
b

      Unnamed: 0                   날짜  현재기온  이슬점온도  체감온도  습도    풍속    해면기압
0              0  2012-04-07 14:00:00  13.8  -10.8  57.0  17  13.0  1022.0
1              1  2012-04-06 14:00:00  15.4  -11.1  59.0  15  39.6  1013.6
2              2  2012-04-05 14:00:00  16.7   -0.5  61.0  31  19.4  1009.0
3              3  2012-04-04 14:00:00  14.6   -0.3  58.0  36  20.2  1011.9
4              4  2012-04-03 14:00:00  10.0   -2.3  53.0  42  44.6  1000.2
...          ...                  ...   ...    ...   ...  ..   ...     ...
2186        2186  2012-04-12 14:00:00  20.8    4.3    65  34   9.4  1008.1
2187        2187  2012-04-11 14:00:00  21.5   14.1    68  63   5.0  1001.4
2188        2188  2012-04-10 14:00:00  18.8   13.4    65  71  16.9  1017.5
2189        2189  2012-04-09 14:00:00  22.1   11.1    68  50  21.2  1019.5
2190        2190  2012-04-08 14:00:00  21.6    0.7    66  25  19.1  1019.4

[2191 rows x 8 columns]

In [9]:
b.columns

Index(['Unnamed: 0', '날짜', '현재기온', '이슬점온도', '체감온도', '습도', '풍속', '해면기압'], dtype='object')

In [10]:
del b['Unnamed: 0']

In [11]:
del a['강수량']
del a['풍향']
del a['현재일기']

In [14]:
print(a.columns)
print(b.columns)

Index(['날짜', '현재기온', '이슬점온도', '체감온도', '습도', '풍속', '해면기압'], dtype='object')
Index(['날짜', '현재기온', '이슬점온도', '체감온도', '습도', '풍속', '해면기압'], dtype='object')

In [16]:
c = pd.concat([a,b])

In [17]:
c.to_csv('./data/date_final.csv', index=False, encoding='UTF-8')