In [52]:
import pandas as pd
import numpy as np
from datetime import datetime

In [43]:
maindata = pd.read_csv('./data/join_moo_wheather.csv')

In [44]:
maindata.shape[0]

1188

In [45]:
li = ['x' for i in range(maindata.shape[0])]

In [46]:
maindata['태풍'] = li

In [47]:
maindata.날짜.dtype

dtype('O')

In [49]:
maindata.날짜.loc[1].split('-')

['2015', '01', '05']

In [53]:
def reduce_date(date):
    date = date.split('-')
    fdate = datetime(int(date[0]), int(date[1]), int(date[2]))
    return fdate
maindata['날짜'] = maindata['날짜'].apply(reduce_date)

In [55]:
maindata.head(2)

,날짜,평균,평년,현재일기,현재기온,이슬점온도,체감온도,강수량,습도,풍향,풍속,해면기압,태풍
0,2015-01-02,1287,1561,-,2.1,-15.4,-2.3,0.0,26.0,북서,17.6,1021.4,x
1,2015-01-05,1287,1449,-,10.4,-3.3,10.4,0.0,38.0,서북서,2.9,1017.9,x

2015-06-30 ~ 2015-07-26
2015-08-14 ~ 2015-08-25
2016-09-12 ~ 2016-09-20
2016-09-27 ~ 2016-10-05
2017-07-02 ~ 2017-07-04
2017-07-21 ~ 2017-08-08
2017-09-09 ~ 2017-09-18
2018-06-29 ~ 2018-07-04
2018-08-15 ~ 2018-08-24
2018-09-21 ~ 2018-10-01
2019-07-16 ~ 2019-07-20
2019-08-04 ~ 2019-08-16
2019-09-02 ~ 2019-09-08
2019-09-19 ~ 2019-09-23
2019-09-28 ~ 2019-10-03

In [73]:
start = datetime(2015, 6, 30)
end   = datetime(2015, 7, 26)

# maindata[ maindata.날짜 >= start ][maindata.날짜 <= end]
li = ['o' for i in range(maindata[ maindata.날짜 >= start ][maindata.날짜 <= end].shape[0])]

maindata[ maindata.날짜 >= start ][maindata.날짜 <= end].태풍.index

['o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o', 'o']

/Users/kimyihwan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/Users/kimyihwan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

2015-06-30 ~ 2015-07-26
2015-08-14 ~ 2015-08-25
2016-09-12 ~ 2016-09-20
2016-09-27 ~ 2016-10-05
2017-07-02 ~ 2017-07-04
2017-07-21 ~ 2017-08-08
2017-09-09 ~ 2017-09-18
2018-06-29 ~ 2018-07-04
2018-08-15 ~ 2018-08-24
2018-09-21 ~ 2018-10-01
2019-07-16 ~ 2019-07-20
2019-08-04 ~ 2019-08-16
2019-09-02 ~ 2019-09-08
2019-09-19 ~ 2019-09-23
2019-09-28 ~ 2019-10-03

In [76]:
def tornado(date):
    istornado = (date >= datetime(2015,  6, 30) and date <= datetime(2015,  7, 26))  or \
                (date >= datetime(2015,  8, 14) and date <= datetime(2015,  8, 25))  or \
                (date >= datetime(2016,  9, 12) and date <= datetime(2016,  9, 20))  or \
                (date >= datetime(2016,  9, 27) and date <= datetime(2016, 10,  5))  or \
                (date >= datetime(2017,  7,  2) and date <= datetime(2017,  7,  4))  or \
                (date >= datetime(2017,  7, 21) and date <= datetime(2017,  8,  8))  or \
                (date >= datetime(2017,  9,  9) and date <= datetime(2017,  9, 18))  or \
                (date >= datetime(2018,  6, 29) and date <= datetime(2018,  7,  4))  or \
                (date >= datetime(2018,  8, 15) and date <= datetime(2018,  8, 24))  or \
                (date >= datetime(2018,  9, 21) and date <= datetime(2018, 10,  1))  or \
                (date >= datetime(2019,  7, 16) and date <= datetime(2019,  7, 20))  or \
                (date >= datetime(2019,  8,  4) and date <= datetime(2019,  8, 16))  or \
                (date >= datetime(2019,  9,  2) and date <= datetime(2019,  9,  8))  or \
                (date >= datetime(2019,  9, 19) and date <= datetime(2019,  9, 23))  or \
                (date >= datetime(2019,  9, 28) and date <= datetime(2019, 10,  3))
    if istornado:
        return "o"
    else:
        return "x"
maindata['태풍'] = maindata['날짜'].apply(tornado)

In [ ]:
start = datetime(2015, 6, 30)
end   = datetime(2015, 7, 26)

In [78]:
maindata[maindata.태풍 =='o']

,날짜,평균,평년,현재일기,현재기온,이슬점온도,체감온도,강수량,습도,풍향,풍속,해면기압,태풍
121,2015-06-30,1888,1717,-,20.7,20.3,69.0,4.0,98.0,남남서,4.0,1000.9,o
122,2015-07-01,1881,1716,-,26.4,19.0,75.0,0.1,64.0,남남동,16.6,996.4,o
123,2015-07-02,1837,1720,-,25.9,15.2,73.0,0.0,52.0,남남동,16.9,1002.7,o
124,2015-07-03,1850,1730,-,30.4,10.3,76.0,0.0,29.0,북서,6.5,1004.3,o
125,2015-07-06,1957,1778,-,24.7,16.1,72.0,0.0,59.0,남동,16.9,1011.7,o
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119,2019-09-20,2020,2172,-,26.3,14.7,73.0,0.0,49.0,남남동,6.8,1016.2,o
1120,2019-09-23,2075,2184,-,20.7,16.3,68.0,0.5,76.0,남남동,3.2,1015.0,o
1125,2019-09-30,2068,2126,구름많음,29.3,22.7,80.0,0.0,68.0,남남동,11.9,1016.4,o
1126,2019-10-01,2086,2129,-,23.4,22.0,23.4,9.0,92.0,서북서,6.8,1020.2,o
1127,2019-10-02,2177,2123,-,23.4,22.3,23.4,27.5,94.0,동남동,9.7,1011.4,o

In [72]:
maindata[ maindata.날짜 >= start ][maindata.날짜 <= end].태풍

/Users/kimyihwan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

121    x
122    x
123    x
124    x
125    x
126    x
127    x
128    x
129    x
130    x
131    x
132    x
133    x
134    x
135    x
136    x
137    x
138    x
139    x
Name: 태풍, dtype: object

In [74]:
maindata

,날짜,평균,평년,현재일기,현재기온,이슬점온도,체감온도,강수량,습도,풍향,풍속,해면기압,태풍
0,2015-01-02,1287,1561,-,2.1,-15.4,-2.3,0.0,26.0,북서,17.6,1021.4,x
1,2015-01-05,1287,1449,-,10.4,-3.3,10.4,0.0,38.0,서북서,2.9,1017.9,x
2,2015-01-06,1303,1432,-,9.1,-16.2,6.7,11.5,15.0,북서,15.8,1011.3,x
3,2015-01-07,1277,1411,-,2.5,-28.5,-1.6,0.0,8.0,북서,16.9,1018.0,x
4,2015-01-08,1352,1407,-,3.3,-19.4,-0.1,0.0,17.0,북서,13.7,1022.8,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183,2019-12-24,3073,1618,-,10.9,-0.5,9.2,0.0,45.0,서북서,13.3,1025.4,x
1184,2019-12-26,3068,1596,-,6.1,0.6,3.0,0.0,68.0,북서,15.8,1012.9,x
1185,2019-12-27,3022,1582,-,8.1,-12.3,5.4,0.0,22.0,북서,16.2,1022.1,x
1186,2019-12-30,2987,1480,-,13.3,7.5,12.5,1.0,68.0,북서,10.4,1019.7,x
1187,2019-12-31,3023,1473,-,2.5,-18.2,-1.9,0.0,20.0,서북서,18.7,1031.1,x

In [79]:
maindata.to_csv('./output/maindata.csv', index=False)