In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
maindata = pd.read_csv('./data/merge_agri_wheather.csv')

In [4]:
maindata.shape[0]

993

In [5]:
li = ['x' for i in range(maindata.shape[0])]

In [6]:
maindata['태풍'] = li

In [7]:
maindata.날짜.dtype

dtype('O')

In [8]:
maindata.날짜.loc[1].split('-')

['2015', '01', '06']

In [9]:
def reduce_date(date):
    date = date.split('-')
    fdate = datetime(int(date[0]), int(date[1]), int(date[2]))
    return fdate
maindata['날짜'] = maindata['날짜'].apply(reduce_date)

In [10]:
maindata.head(2)

,날짜,avg_moo,avgY_moo,avg_baechoo,avgY_baechoo,avg_apple,avgY_apple,avg_scallion,avgY_scallion,현재일기,현재기온,이슬점온도,체감온도,강수량,습도,풍향,풍속,해면기압,태풍
0,2015-01-05,1287,1449,1957,3466,21350,22826,2375,2697,-,10.4,-3.3,10.4,0.0,38.0,서북서,2.9,1017.9,x
1,2015-01-06,1303,1432,1980,3481,21717,22882,2397,2697,-,9.1,-16.2,6.7,11.5,15.0,북서,15.8,1011.3,x

2015-06-30 ~ 2015-07-26
2015-08-14 ~ 2015-08-25
2016-09-12 ~ 2016-09-20
2016-09-27 ~ 2016-10-05
2017-07-02 ~ 2017-07-04
2017-07-21 ~ 2017-08-08
2017-09-09 ~ 2017-09-18
2018-06-29 ~ 2018-07-04
2018-08-15 ~ 2018-08-24
2018-09-21 ~ 2018-10-01
2019-07-16 ~ 2019-07-20
2019-08-04 ~ 2019-08-16
2019-09-02 ~ 2019-09-08
2019-09-19 ~ 2019-09-23
2019-09-28 ~ 2019-10-03

In [11]:
start = datetime(2015, 6, 30)
end   = datetime(2015, 7, 26)

# maindata[ maindata.날짜 >= start ][maindata.날짜 <= end]
li = ['o' for i in range(maindata[ maindata.날짜 >= start ][maindata.날짜 <= end].shape[0])]

maindata[ maindata.날짜 >= start ][maindata.날짜 <= end].태풍.index

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

Int64Index([119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131,
            132, 133, 134, 135, 136],
           dtype='int64')

2015-06-30 ~ 2015-07-26
2015-08-14 ~ 2015-08-25
2016-09-12 ~ 2016-09-20
2016-09-27 ~ 2016-10-05
2017-07-02 ~ 2017-07-04
2017-07-21 ~ 2017-08-08
2017-09-09 ~ 2017-09-18
2018-06-29 ~ 2018-07-04
2018-08-15 ~ 2018-08-24
2018-09-21 ~ 2018-10-01
2019-07-16 ~ 2019-07-20
2019-08-04 ~ 2019-08-16
2019-09-02 ~ 2019-09-08
2019-09-19 ~ 2019-09-23
2019-09-28 ~ 2019-10-03

In [12]:
def tornado(date):
    istornado = (date >= datetime(2015,  6, 30) and date <= datetime(2015,  7, 26))  or \
                (date >= datetime(2015,  8, 14) and date <= datetime(2015,  8, 25))  or \
                (date >= datetime(2016,  9, 12) and date <= datetime(2016,  9, 20))  or \
                (date >= datetime(2016,  9, 27) and date <= datetime(2016, 10,  5))  or \
                (date >= datetime(2017,  7,  2) and date <= datetime(2017,  7,  4))  or \
                (date >= datetime(2017,  7, 21) and date <= datetime(2017,  8,  8))  or \
                (date >= datetime(2017,  9,  9) and date <= datetime(2017,  9, 18))  or \
                (date >= datetime(2018,  6, 29) and date <= datetime(2018,  7,  4))  or \
                (date >= datetime(2018,  8, 15) and date <= datetime(2018,  8, 24))  or \
                (date >= datetime(2018,  9, 21) and date <= datetime(2018, 10,  1))  or \
                (date >= datetime(2019,  7, 16) and date <= datetime(2019,  7, 20))  or \
                (date >= datetime(2019,  8,  4) and date <= datetime(2019,  8, 16))  or \
                (date >= datetime(2019,  9,  2) and date <= datetime(2019,  9,  8))  or \
                (date >= datetime(2019,  9, 19) and date <= datetime(2019,  9, 23))  or \
                (date >= datetime(2019,  9, 28) and date <= datetime(2019, 10,  3))
    if istornado:
        return "o"
    else:
        return "x"
maindata['태풍'] = maindata['날짜'].apply(tornado)

In [13]:
start = datetime(2015, 6, 30)
end   = datetime(2015, 7, 26)

In [14]:
maindata[maindata.태풍 =='o']

,날짜,avg_moo,avgY_moo,avg_baechoo,avgY_baechoo,avg_apple,avgY_apple,avg_scallion,avgY_scallion,현재일기,현재기온,이슬점온도,체감온도,강수량,습도,풍향,풍속,해면기압,태풍
119,2015-06-30,1888,1717,3022,2337,25552,27136,3322,2292,-,20.7,20.3,69.0,4.0,98.0,남남서,4.0,1000.9,o
120,2015-07-02,1837,1720,2989,2394,25283,27087,3324,2283,-,25.9,15.2,73.0,0.0,52.0,남남동,16.9,1002.7,o
121,2015-07-03,1850,1730,2983,2416,25283,27299,3297,2227,-,30.4,10.3,76.0,0.0,29.0,북서,6.5,1004.3,o
122,2015-07-06,1957,1778,2987,2508,25307,27500,3269,2200,-,24.7,16.1,72.0,0.0,59.0,남동,16.9,1011.7,o
123,2015-07-07,1939,1793,2998,2524,25494,27596,3250,2181,-,19.8,19.4,68.0,6.5,98.0,북서,4.7,1010.9,o
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2019-08-13,1571,2145,3444,4200,25781,21916,3018,2820,-,33.2,23.8,84.0,0.0,58.0,북북동,6.8,1001.7,o
937,2019-08-14,1565,2113,3440,4177,26364,21897,3024,2832,-,32.4,23.9,83.0,0.0,61.0,서북서,7.2,998.2,o
938,2019-08-16,1556,2108,3396,4276,26037,22188,3020,2846,-,29.9,23.0,81.0,0.0,67.0,서북서,8.3,996.1,o
949,2019-09-02,1665,2283,3883,5368,25700,21853,2892,3304,-,22.1,21.5,72.0,14.5,97.0,서,4.3,1016.9,o
950,2019-09-03,1619,2262,3919,5380,25700,21033,2895,3314,-,26.1,23.1,77.0,6.5,84.0,서북서,4.7,1015.6,o

In [15]:
maindata[ maindata.날짜 >= start ][maindata.날짜 <= end].태풍

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

119    o
120    o
121    o
122    o
123    o
124    o
125    o
126    o
127    o
128    o
129    o
130    o
131    o
132    o
133    o
134    o
135    o
136    o
Name: 태풍, dtype: object

In [16]:
maindata

,날짜,avg_moo,avgY_moo,avg_baechoo,avgY_baechoo,avg_apple,avgY_apple,avg_scallion,avgY_scallion,현재일기,현재기온,이슬점온도,체감온도,강수량,습도,풍향,풍속,해면기압,태풍
0,2015-01-05,1287,1449,1957,3466,21350,22826,2375,2697,-,10.4,-3.3,10.4,0.0,38.0,서북서,2.9,1017.9,x
1,2015-01-06,1303,1432,1980,3481,21717,22882,2397,2697,-,9.1,-16.2,6.7,11.5,15.0,북서,15.8,1011.3,x
2,2015-01-07,1277,1411,1957,2670,21944,22949,2383,2692,-,2.5,-28.5,-1.6,0.0,8.0,북서,16.9,1018.0,x
3,2015-01-08,1352,1407,1959,2607,21442,22809,2340,2676,-,3.3,-19.4,-0.1,0.0,17.0,북서,13.7,1022.8,x
4,2015-01-09,1333,1403,1936,2597,21476,22827,2344,2654,-,5.1,-12.4,1.6,0.0,27.0,북서,16.6,1022.9,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,2019-12-24,3073,1618,4575,2924,18135,19021,2791,3186,-,10.9,-0.5,9.2,0.0,45.0,서북서,13.3,1025.4,x
989,2019-12-26,3068,1596,4495,2924,18293,19055,2792,3175,-,6.1,0.6,3.0,0.0,68.0,북서,15.8,1012.9,x
990,2019-12-27,3022,1582,4474,2947,18293,19115,2766,3166,-,8.1,-12.3,5.4,0.0,22.0,북서,16.2,1022.1,x
991,2019-12-30,2987,1480,4502,3076,18328,19290,2774,3149,-,13.3,7.5,12.5,1.0,68.0,북서,10.4,1019.7,x
992,2019-12-31,3023,1473,4547,3105,18328,19119,2792,3158,-,2.5,-18.2,-1.9,0.0,20.0,서북서,18.7,1031.1,x

In [17]:
maindata.to_csv('./data/maindata_all.csv', index=False, encoding='UTF-8')